.exercises {
  --padding-end: 5vw;
  --padding-start: 5vw;

  ul {
    list-style: none;
    padding: 0;
  }

  &__submit {
    --color-primary: #00b37e;
  }

  &__header {

    padding: 1rem 2rem;

    background: var( --color-gray-600);

    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-icon {
      color: var(--color-primary);
      height: 25px;
      width: 25px;
    }

  }
}
