*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--color-white-100);
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--color-purple-200);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
