@import "theme/mixins.scss";

.select-divisions {
  --padding-end: 5vw;
  --padding-start: 5vw;

  > .typography__subtitle {
    margin: 30px 0;
    color: var(--color-primary);
  }

  &__button {
    background: var(--color-gray-600) !important; 
  }

  &__modal {
    .modal-container__children {
      @include flex-column;
      @include flex-spaced;
      align-items: flex-end;
    }

    .typography__text {
      margin: 20px 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: var(--color-gray-200);
    }

    .kq-button {
      width: fit-content;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--color-primary);
  }

  &__item {
    margin: 15px 0 0 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    ion-icon {
      font-size: 20px;
    }

    &--radio {
      border-radius: 100%;
      border: 1px solid var(--color-primary);
      transition: 0.25s all ease-in-out;
      width: 20px;
      height: 20px;
      background: transparent;

      &-selected {
        @extend .select-divisions__item--radio;
        background: var(--color-primary);
      }
    }
  }
}
